<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Base</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rewindr/css/uikit.min.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='rewindr/js/uikit.min.js') }}"></script>
</head>
<body>
<ul class="uk-nav uk-nav-side">
    <h3 class="uk-panel-title">Just Some Shit</h3>
    <li class="uk-active"><a href="{{ url_for('rewindr') }}">Rewindr</a></li>
    <li><a href="{{ url_for('rewindr_today') }}">Today</a></li>
    <li><a href="{{ url_for('rewindr_day') }}">A Year Ago</a></li>
</ul>
<div id="content" class="uk-container uk-container-center uk-margin-top">
    {% block content %}{% endblock %}
</div>
</body>
</html>