{% extends "rewindr/base.html" %}

{% set active_page = active_page|default('past') -%}

{% block title %}This Day{% if username %} - {{ username }}{% endif %}{% endblock %}

{% block content %}

<h1>{{ current_time.strftime('%B %d') }}</h1>

{% if tracks.one %}
<h3 class="uk-panel-title">One Year Ago...</h3>
<ol>
    {% for track in tracks.one %}
    <li>{{ track.track.title }} - {{ track.track.artist.name }}, {{ track.playback_date }}</li>
    {% endfor %}
</ol>
{% endif %}

{% if tracks.two %}
<h3 class="uk-panel-title">Two Years Ago...</h3>
<ol>
    {% for track in tracks.two %}
    <li>{{ track.track.title }} - {{ track.track.artist.name }}, {{ track.playback_date }}</li>
    {% endfor %}
</ol>
{% endif %}

{% if tracks.three %}
<h3 class="uk-panel-title">Three Years Ago...</h3>
<ol>
    {% for track in tracks.three %}
    <li>{{ track.track.title }} - {{ track.track.artist.name }}, {{ track.playback_date }}</li>
    {% endfor %}
</ol>
{% endif %}

{% if tracks.four %}
<h3 class="uk-panel-title">Four Years Ago...</h3>
<ol>
    {% for track in tracks.four %}
    <li>{{ track.track.title }} - {{ track.track.artist.name }}, {{ track.playback_date }}</li>
    {% endfor %}
</ol>
{% endif %}
{% endblock %}